@font-face {
  font-family: 'Tiempos';
  src: url('./fonts/TiemposHeadline-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
    src: url('./fonts/apercu_bold_italic_pro.otf');
    src: url('./fonts/apercu_bold_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
